body {
    background-color: gray;
}

#outline {
    display: flex;
    justify-content: center;
}

#gamefield {
    border: 2px solid chartreuse;
    width: fit-content;
    display: grid;
    justify-content: center;
}

#background {
    grid-area: 1 / 1;
    width: calc(16 * 32px);
    height: calc(12 * 32px);
}

#items {
    grid-area: 1 / 1;
}

#characters {
    grid-area: 1 / 1;
}

#player {
    width: 32px;
    height: 40px;
    background-image: url("images/characters/Character 1.png");
    background-size: 400% 400%;
    image-rendering: pixelated;
}


