body {
    background-color: gray;
}

#outline {
    display: flex;
    justify-content: center;
}

#gamefield {
    border: 2px solid chartreuse;
    width: fit-content;
    display: grid;
    justify-content: center;
}

#background {
    grid-area: 1 / 1;
    display: grid;
    grid-template-columns: repeat(var(--GRID_WIDTH), max-content);
}

#background .tile {
    width: var(--TILE_SIZE);
    aspect-ratio: 1 / 1;

    background-repeat: no-repeat;
    background-size: 100%;
    image-rendering: pixelated;

    //background-image: url('images/tiles/flowers.png')
}

.tile.path {
    background-image: url('images/tiles/path.png')
}

.tile.grass {
    background-image: url('images/tiles/grass.png')
}

.tile.water {
    background-image: url('images/tiles/water.png')
}

#characters {
    grid-area: 1 / 1;
}

#player {
    width: 32px;
    height: 40px;
    background-image: url("/images/characters/Character 1.png");
    background-size: 400% 400%;
    image-rendering: pixelated;
}

#player.animate {
    animation-duration: 0.5s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}


/*********** UP **********/
#player.up {
    background-position: 0% -100%;
    animation-name: up;
}

@keyframes up {
    from {
        background-position: 0% -100%;
    }
    to {
        background-position: -400% -100%;
    }
}


/*********** DOWN **********/

#player.down {
    background-position: 0% 0%;
    animation-name: down;
}

@keyframes down {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: -400% 0%;
    }
}


/*********** RIGHT **********/

#player.right {
    background-position: 0% -300%;
    animation-name: right;
}

@keyframes right {
    from {
        background-position: 0% -300%;
    }
    to {
        background-position: -400% -300%;
    }
}


/*********** LEFT **********/

#player.left {
    background-position: 0% -200%;
    animation-name: left;
}

@keyframes left {
    from {
        background-position: 0% -200%;
    }
    to {
        background-position: -400% -200%;
    }
}

.highlight {
    outline: 2px dashed yellow;
    translate: 0 0;
}

